services:
    frontend:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                VITE_ENVIRONMENT: 'production'
                VITE_API_ENDPOINT: 'http://72.62.161.70:4000/api/v1'
        ports:
            - '80:80'
        restart: unless-stopped
