@import 'tailwindcss';

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 0.25px;
    line-height: 1.5;
}

input {
    @apply accent-primary focus:ring-0 focus:ring-offset-0 focus:outline-none;
}

/* .public-route, */
.protected-route {
    @apply bg-primary-25 text-black h-dvh;
}
