@import 'tailwindcss';

* {
    /* font-family: 'Lato', sans-serif; */

    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}
.public-route,
.protected-route {
    @apply bg-primary-25 text-black p-2 h-screen;
}

.public-route-wrapper,
.protected-route-wrapper {
    @apply bg-lightBg flex flex-col items-center justify-center h-full rounded-2xl overflow-hidden;
}
